<html>
    <head>
        <title>Chat Room Domo</title>
    </head>
    <body>
       <div>
           <form action="/login" method="post">
               <input type="text" placeholder="登录名" name="username" id="username">
               <button type="submit">LOGIN</button>
           </form>
       </div>
    </body>
</html>